# Opdracht 2 ochtend

In [1]:
'''Imports'''
import numpy as np
import pandas as pd

#### 2. Laad de dataset in een DataFrame

In [2]:
data = pd.read_csv("titanic_data.csv")

#### 3. Beschrijf de datatypes van elke kolom.

In [3]:
data.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

#### 4. Wat is het percentage van mensen die de ramp niet hebben overleefd?

In [4]:
print(data["Survived"].mean() * 100)

38.38383838383838

#### 5. Wat is de minimum, gemiddelde, en maximum leeftijd?

In [5]:
'''Minimum'''
print(data["Age"].min())

'''Gemiddelde'''
print(data["Age"].mean())

'''Maximum'''
print(data["Age"].max())

0.42
29.69911764705882
80.0

Kan ook .corr() gebruiken maar wordt nu niet gebruikt vanwege de grootte van het bestand

#### 6. Wat is de kans dat mannen van boven de 50 uit de eerste klas het hebben overleefd?

In [6]:
men_above_50 = data[(data["Age"] > 50)]
'''Calculate the average and do times 100 to calculate the percentage'''
men_above_50["Survived"].mean() * 100

34.375

#### 7. Welke data ontbreekt? Wat betekent dit voor het antwoord op Vraag 5?

Sommige leeftijden ontbreken. Doordat er meer mensen zijn maar geen leeftijden bijkomen, wordt het gemiddelde verlaagd.

#### 8. Wat is de minimum, gemiddelde, en maximum prijs (Fare) in de verschillende klassen (Pclass)?

In [7]:
#Gebruik describe() om deze data te laten zien. De array in de data array geeft meerdere columns aan.
data[["Fare", "Pclass"]].groupby(["Pclass"]).describe()

         Fare
        count       mean        std  min       25%      50%   75%       max
Pclass
1       216.0  84.154687  78.380373  0.0  30.92395  60.2875  93.5  512.3292
2       184.0  20.662183  13.417399  0.0  13.00000  14.2500  26.0   73.5000
3       491.0  13.675550  11.778142  0.0   7.75000   8.0500  15.5   69.5500

#### 9. Zet de variabele Pclass om met one-hot-encoding

In [8]:
'''Get dummies sets the data to binary where on top the different values are given (1,2,3)'''
oneHotCoded = pd.get_dummies(data['Pclass'])
'''Prints a the head of the function'''
print(oneHotCoded.head())

   1  2  3
0  0  0  1
1  1  0  0
2  0  0  1
3  1  0  0
4  0  0  1