# Hello World Script

## This is the first assignment of day 1 using jupyter

1.	Print "hello world" naar scherm.

In [1]:
print("hello world")

hello world

2.	Maak een variabele hw die de tekst "hello world bevat" en print deze ook.

In [2]:
hw = "Hello world"
print(hw)

Hello world

3.	Print de derde letter van "hello world"

In [3]:
print(hw[2])

l

4.	Print het eerste woord van "hello world"

In [4]:
print(hw.split(" ")[0])

Hello

5.	Print de laatste letter van "hello world"

In [5]:
print(hw[-1])

d

6.	Maak een functie die "hello world" print.

In [6]:
def print_hello_world():
    '''prints "hello world"'''
    print("Hello World")

7.	Maak een functie die "hello world" teruggeeft.

In [7]:
def return_hello_world():
    '''returns "hello world"'''
    return "Hello World"

8.	Maak een functie die een meegegeven tekst print
9.	Maak een functie die een meegegeven variabele print

In [8]:
def print_hi(name):
    '''prints a given name'''
    print(name)

##### Testing 7/8/9

In [9]:
'''Test all the values'''
print_hello_world()
print(return_hello_world())
print_hi("Hello World")
print_hi(hw)

Hello World
Hello World
Hello World
Hello world

## Kopje Jupyter

De opdrachten die gemaakt zijn in het kopje jupiter zitten overal in de applicatie verwerkt. Hier een voorbeeld van een header en een markdown. De file die is gesaved in dag 1/middag.

## Sommetjes en lijstjes

1.	Reken 1+1 uit

In [10]:
print(1+1)

2

2.	Maak lijstje a=[1,2,3,4,5,6,7,8,9,10], gebruik range()

In [11]:
a = list(range(1,11,1))

'''a. Maak het lijstje b=[11,12,13,14,15] en plak deze erachteraan'''
b = list(range(11,17,1))
a.extend(b)
'''b. Tel 5 bij elk element op, gebruik list comprehension'''
a = [value+5 for value in a]
'''c.Neem vervolgens de som'''
print(sum(a))

216

3.	Reken ‚àëùëñ uit voor i=100

In [12]:
c = sum(list(range(1,101,1)))
print(c)

5050

## Kopje Meer functies en conditionals

1.	Kijk wat de volgende operators doen:

In [13]:
print(5==6)
print(5!=6)
print(5<6)
print(5>6)
print(5>=6)
print(5<=6)

False
True
True
False
False
True

2. Kijk wat de "in" operator doet:

In [14]:
print('s' in 'Mississippi') # single chars
print('sip' in 'Mississippi') # substrings
print('mis' in 'Mississippi') # case-sensitive

True
True
False

3.	Maak een functie die 2 string variabelen aan elkaar plakt en print

In [15]:
def add_two_strings(s1,s2):
    '''Bouw een controle in of het wel string variabelen zijn'''
    if(isinstance(s1,str) and isinstance(s2, str)):
        combined = s1 + s2
        print(combined)
    else:
        print("not two strings")

'''Tests'''
add_two_strings("text", "other text")
add_two_strings(1, "other text")
add_two_strings("text", 2)
add_two_strings(2, 2)

textother text
not two strings
not two strings
not two strings

In [16]:
def add_two_integers(i1,i2):
    combined = i1 + i2
    print(combined)

- Alleen als de tweede groter is dan de eerste

In [17]:
def add_two_integers_when_i2_is_bigger(i1,i2):
    '''Checks if the second value is 
    bigger is so the function will add the values'''
    if(i1 < i2) :
        print(i1+i2)
    else:
        print("The first value is bigger or equal")

##### De tweede opdracht van 4 en opdracht 5  zijn omgewisseld omdat opdracht 4 de functie van opdracht 5 gebruikt

5.	Tel steeds 1 op bij het laagste getal tot ze gelijk zijn en geef dan dat getal terug. Print de tussenresultaten

In [18]:
def add_till_equal(low, high):
    '''Function to add values till equal'''
    if low > high:
        v1 = high
        high = low
        low = v1
    while(low < high):
        print("lower value: " + str(low) + " Higher value: " + str(high))
        low += 1
    print(str(low) + " now equals " + str(high))
    
'''Tests'''
add_till_equal(3,9)
add_till_equal(9,3)
add_till_equal(4,4)

lower value: 3 Higher value: 9
lower value: 4 Higher value: 9
lower value: 5 Higher value: 9
lower value: 6 Higher value: 9
lower value: 7 Higher value: 9
lower value: 8 Higher value: 9
9 now equals 9
lower value: 3 Higher value: 9
lower value: 4 Higher value: 9
lower value: 5 Higher value: 9
lower value: 6 Higher value: 9
lower value: 7 Higher value: 9
lower value: 8 Higher value: 9
9 now equals 9
4 now equals 4

- Alleen als ze gelijk zijn

In [19]:
def add_integers_when_equal(i1,i2):
    if(i1 == i2):
        print(i1+i2)
    else:
        add_till_equal(i1, i2) if i1 < i2 else add_till_equal(i2,i1)

Check if the function is correct

In [20]:
add_integers_when_equal(3,6)
add_integers_when_equal(3,3)
add_integers_when_equal(6,3)

lower value: 3 Higher value: 6
lower value: 4 Higher value: 6
lower value: 5 Higher value: 6
6 now equals 6
6
lower value: 3 Higher value: 6
lower value: 4 Higher value: 6
lower value: 5 Higher value: 6
6 now equals 6

6.	Vermenigvuldig het eerste getal met pi en print vervolgens het grootste getal

In [21]:
from math import pi

def times_pi_and_compare(i1,i2):
    value = i1 * pi
    if(value > i2):
        print(value)
    else:
        print(i2)
        
'''Check if the function is correct'''
times_pi_and_compare(1,6)
times_pi_and_compare(3,6)
times_pi_and_compare(1,1*pi)

6
9.42477796076938
3.141592653589793

## Kopje Dictionary

In [22]:
'''Add c to dictionary'''
a = {'a':1,'b':20}
a['c'] = 5
print(a)
'''loop trough keys and values'''
for key, value in a.items():
    print("key: " + str(key))
    print("value: " + str(value))
'''loop trough values'''
for value in a.values():
    print("value: " + str(value))

'''loop trough sorted keys'''
for key in sorted(a.keys()):
    print("key: " + str(key))
    
'''loop trough sorted values'''
for value in sorted(a.values()):
    print("value: " + str(value))

{'a': 1, 'b': 20, 'c': 5}
key: a
value: 1
key: b
value: 20
key: c
value: 5
value: 1
value: 20
value: 5
key: a
key: b
key: c
value: 1
value: 5
value: 20

‚Ä¢	Schrijf functie die een dict gebruikt om aantal letters te tellen in een zin

In [1]:
import string
lorem = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac libero a nisi luctus tristique sed ut justo. Integer nec blandit ex. Nulla interdum semper congue. Ut a aliquet lacus, eget ultrices orci. Pellentesque eu nunc quis ipsum mattis placerat sed eget elit. Integer feugiat, justo eu porta elementum, eros nisl eleifend libero, vel dapibus libero turpis vel elit. Aliquam nec condimentum augue."

def dict_to_count_letters(centence):
    'Verwijder spaties en interpunctie'
    centence.lower().strip()
    text = centence.lower().strip().replace(" ", "")
    text = text.translate(str.maketrans('', '', string.punctuation))
    'Voeg letters toe aan ditct'
    letterDict = {}
    for l in text:
        if l in letterDict:
            letterDict[l] += 1
        else:
            letterDict[l] = 1
    return letterDict

'''Print elke item'''
for item in sorted(dict_to_count_letters(lorem).items()):
    print(item)

('a', 19)
('b', 5)
('c', 14)
('d', 9)
('e', 50)
('f', 2)
('g', 8)
('i', 33)
('j', 2)
('l', 24)
('m', 13)
('n', 19)
('o', 14)
('p', 9)
('q', 5)
('r', 17)
('s', 22)
('t', 32)
('u', 29)
('v', 2)
('x', 1)